.tile {
  width: 80px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  user-select: none;
  padding: 0rem 1rem;
  background-color: var(--background-color);
  transition: background-color 1s ease-in-out;
}

.tile:active {
  background-color: lightcyan;
  transition: none;
}

@media only screen and (min-width: 1200px) {
  .tile {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 600px) {
  .tile {
    transform: scale(0.8);
  }
}
